{
  "swagger": "2.0",
  "info": {
    "title": "UiPath.WebApi 20.0",
    "description": "Orchestrator API",
    "version": "20.0"
  },
  "host": "cloud.uipath.com",
  "basePath": "/yashbdev/yashbdev/orchestrator_/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/Buckets/{id}/ListFiles": {
      "get": {
        "tags": [
          "Buckets"
        ],
        "summary": "Gets all files in a directory and subdirectories, with continuation token support.",
        "description": "OAuth required scopes: OR.Administration or OR.Administration.Read.\n\nRequired permissions: Buckets.View and BlobFiles.View.",
        "operationId": "Buckets_ListFilesById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The Bucket ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "prefix",
            "description": "The path prefix",
            "type": "string"
          },
          {
            "in": "query",
            "name": "takeHint",
            "description": "The minimum number of files to return in the response. The service will attempt to return at least this many files,\r\nbut may return up to twice this number in some cases. The maximum allowed value is 1000. If not specified or set to 0,\r\nthe default value is 500.",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "A token indicating where to resume listing files. Used for pagination; pass the token from a previous response to\r\nretrieve the next set of results.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "expiryInMinutes",
            "description": "The number of minutes before the generated access URL expires, if not provided, the access url will not be returned.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListBlobItemsResponseDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/DirectoryService/GetDirectoryPermissions": {
      "get": {
        "tags": [
          "DirectoryService"
        ],
        "summary": "Gets directory permissions",
        "description": "OAuth required scopes: OR.Users or OR.Users.Read.\n\nRequired permissions: Users.View.",
        "operationId": "DirectoryService_GetDirectoryPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "username",
            "type": "string"
          },
          {
            "in": "query",
            "name": "domain",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DirectoryPermissionDto"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/DirectoryService/GetDomains": {
      "get": {
        "tags": [
          "DirectoryService"
        ],
        "summary": "Gets domains",
        "description": "OAuth required scopes: OR.Users or OR.Users.Read.\n\nRequired permissions: (Users.View or Units.Edit or SubFolders.Edit).",
        "operationId": "DirectoryService_GetDomains",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DomainDto"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/DirectoryService/GetDomainUserId": {
      "get": {
        "tags": [
          "DirectoryService"
        ],
        "summary": "Gets an orchestrator user Id by searching for the domain user information.",
        "description": "OAuth required scopes: OR.Users or OR.Users.Read.\n\nRequired permissions: (Users.View or Units.Edit or SubFolders.Edit).",
        "operationId": "DirectoryService_GetDomainUserId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "domain",
            "description": "",
            "type": "string"
          },
          {
            "in": "query",
            "name": "directoryIdentifier",
            "description": "",
            "type": "string"
          },
          {
            "in": "query",
            "name": "userName",
            "description": "",
            "type": "string"
          },
          {
            "in": "query",
            "name": "userType",
            "description": "",
            "type": "string",
            "enum": [
              "User",
              "Robot",
              "DirectoryUser",
              "DirectoryGroup",
              "DirectoryRobot",
              "DirectoryExternalApplication"
            ],
            "x-ms-enum": {
              "name": "UserType",
              "modelAsString": false
            },
            "x-enum-varnames": [
              "User",
              "Robot",
              "DirectoryUser",
              "DirectoryGroup",
              "DirectoryRobot",
              "DirectoryExternalApplication"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/DirectoryService/SearchForUsersAndGroups": {
      "get": {
        "tags": [
          "DirectoryService"
        ],
        "summary": "Search users and groups",
        "description": "OAuth required scopes: OR.Users or OR.Users.Read.\n\nRequired permissions: (Users.View or Units.Edit or SubFolders.Edit).",
        "operationId": "DirectoryService_SearchForUsersAndGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "searchContext",
            "description": "",
            "type": "string",
            "enum": [
              "All",
              "Users",
              "Groups",
              "Robots",
              "ExternalApplications"
            ],
            "x-ms-enum": {
              "name": "SearchContext",
              "modelAsString": false
            },
            "x-enum-varnames": [
              "All",
              "Users",
              "Groups",
              "Robots",
              "ExternalApplications"
            ]
          },
          {
            "in": "query",
            "name": "domain",
            "description": "",
            "type": "string"
          },
          {
            "in": "query",
            "name": "prefix",
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DirectoryObjectDto"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Folders/DeleteByKey": {
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Deletes a folder. Succeeds only if no entities or user associations\r\nexist in this folder or any of its descendants.",
        "description": "OAuth required scopes: OR.Folders or OR.Folders.Write.\n\nRequired permissions: (Units.Delete or SubFolders.Delete - Deletes any folder or only if user has SubFolders.Delete permission on the provided folder).",
        "operationId": "Folders_DeleteByKey",
        "parameters": [
          {
            "in": "query",
            "name": "key",
            "description": "",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Folders/GetAllForCurrentUser": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Returns a subset (paginated) of the folders the current user has access to.\r\nThe response will be a list of folders;",
        "description": "OAuth required scopes: OR.Folders or OR.Folders.Read.\n\nRequires authentication.",
        "operationId": "Folders_GetAllForCurrentUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "take",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageResultDtoOfCurrentUserFolderDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Folders/PatchNameDescription": {
      "patch": {
        "tags": [
          "Folders"
        ],
        "summary": "Edits a folder.",
        "description": "OAuth required scopes: OR.Folders or OR.Folders.Write.\n\nRequired permissions: (Units.Edit or SubFolders.Edit - Edits any folder or edits only if user has SubFolders.Edit permission on the provided folder).",
        "operationId": "Folders_PatchNameDescription",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/FolderUpdateNameDescriptionRequest"
            }
          },
          {
            "in": "query",
            "name": "key",
            "description": "",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/FoldersNavigation/GetAllFoldersForCurrentUser": {
      "get": {
        "tags": [
          "FoldersNavigation"
        ],
        "summary": "Returns the folders the current user has access to.\r\nThe response will be a list of folders; the hierarchy can be reconstructed\r\nusing the ParentId properties. From the root to the folders the user has\r\nactually been assigned to, the folders will be marked as non-selectable\r\nand only the paths to the assigned-to folders will be included.\r\nFrom the assigned-to folders down to the leaves, the nodes will be marked as\r\nselectable and their children lists fully populated.",
        "description": "OAuth authentication is not supported.\n\nRequires authentication.",
        "operationId": "FoldersNavigation_GetAllFoldersForCurrentUser",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExtendedFolderDto"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/FoldersNavigation/GetAllRolesForUser": {
      "get": {
        "tags": [
          "FoldersNavigation"
        ],
        "summary": "Returns a page of the user-folder assignments for the input user, including the roles for each folder.\r\nThe response also includes the folders assigned to the directory groups of the user.\r\nThe distinction between the folders assigned directly to the user and the ones assigned to one of his groups\r\ncan be made via the User field of the response.",
        "description": "OAuth authentication is not supported.\n\nRequired permissions: (Units.View - Gets roles from all folders) and (SubFolders.View - Gets roles only from folders where caller has SubFolders.View permission).",
        "operationId": "FoldersNavigation_GetAllRolesForUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "username",
            "description": "User name",
            "type": "string"
          },
          {
            "in": "query",
            "name": "type",
            "description": "",
            "type": "string",
            "enum": [
              "User",
              "Group",
              "Machine",
              "Robot",
              "ExternalApplication"
            ],
            "x-ms-enum": {
              "name": "DirectoryObjectType",
              "modelAsString": false
            },
            "x-enum-varnames": [
              "User",
              "Group",
              "Machine",
              "Robot",
              "ExternalApplication"
            ]
          },
          {
            "in": "query",
            "name": "skip",
            "description": "",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "take",
            "description": "",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "searchText",
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserRoleAssignmentsDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/FoldersNavigation/GetFolderNavigationContextForCurrentUser": {
      "get": {
        "tags": [
          "FoldersNavigation"
        ],
        "summary": "Returns a subset (paginated) of direct children for a given folder, which are accessible to the current user.\r\nTo ease a folder tree structure navigation design, the list of ancestors for the given folder is also returned.",
        "description": "OAuth authentication is not supported.\n\nRequires authentication.",
        "operationId": "FoldersNavigation_GetFolderNavigationContextForCurrentUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "skip",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "take",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "folderId",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FolderNavigationContextDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/FoldersNavigation/GetFoldersForCurrentUser": {
      "get": {
        "tags": [
          "FoldersNavigation"
        ],
        "summary": "Returns a filtered subset (paginated) of the folders the current user has access to.",
        "description": "OAuth authentication is not supported.\n\nRequires authentication.",
        "operationId": "FoldersNavigation_GetFoldersForCurrentUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "skip",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "take",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "searchText",
            "type": "string"
          },
          {
            "in": "query",
            "name": "folderTypes",
            "type": "array",
            "items": {
              "enum": [
                "Standard",
                "Personal",
                "Virtual",
                "Solution",
                "DebugSolution"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "FolderType",
                "modelAsString": false
              },
              "x-enum-varnames": [
                "Standard",
                "Personal",
                "Virtual",
                "Solution",
                "DebugSolution"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageResultDtoOfPathAwareFolderDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/JobTriggers/DeliverPayload/{inboxId}": {
      "post": {
        "tags": [
          "JobTriggers"
        ],
        "summary": "Deliver payload for trigger inboxId.",
        "description": "OAuth required scopes: OR.Jobs or OR.Jobs.Write.\n\nRequired permissions: Jobs.Edit.",
        "operationId": "JobTriggers_DeliverPayloadByInboxid",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "inboxId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "maxLength": 4000
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "208": {
            "description": "Success"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/JobTriggers/GetPayload/{inboxId}": {
      "get": {
        "tags": [
          "JobTriggers"
        ],
        "summary": "Get payload for trigger inboxId.",
        "operationId": "JobTriggers_GetPayloadByInboxid",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "inboxId",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/Licensing/Acquire": {
      "post": {
        "tags": [
          "Licensing"
        ],
        "summary": "Acquire license units",
        "description": "OAuth required scopes: OR.Administration or OR.Administration.Write.\n\nRequires authentication.",
        "operationId": "Licensing_Acquire",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ConsumptionLicenseDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LicenseResultDto"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          },
          "503": {
            "description": "Server Error"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Licensing/Release": {
      "put": {
        "tags": [
          "Licensing"
        ],
        "summary": "Release acquired license units",
        "description": "OAuth required scopes: OR.Administration or OR.Administration.Write.\n\nRequires authentication.",
        "operationId": "Licensing_Release",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ConsumptionLicenseDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LicenseResultDto"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "409": {
            "description": "Conflict"
          },
          "503": {
            "description": "Server Error"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Logs": {
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Inserts a log entry with a specified message in JSON format.",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Write.\n\nRequired permissions: (Logs.Create).\n\nExample of jMessage parameter.\r\n            \r\n     {\r\n         \"message\": \"TTT execution started\",\r\n         \"level\": \"Information\",\r\n         \"timeStamp\": \"2017-01-18T14:46:07.4152893+02:00\",\r\n         \"windowsIdentity\": \"DESKTOP-1L50L0P\\\\WindowsUser\",\r\n         \"agentSessionId\": \"00000000-0000-0000-0000-000000000000\",\r\n         \"processName\": \"TTT\",\r\n         \"fileName\": \"Main\",\r\n         \"jobId\": \"8066c309-cef8-4b47-9163-b273fc14cc43\"\r\n     }\nDEPRECATED: \nUse SubmitLogs instead\nPlease refer to https://docs.uipath.com/orchestrator/reference",
        "operationId": "Logs_Post",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully inserts a log message. Although it's a post, there's no need for an object to be returned"
          },
          "400": {
            "description": "jMessage is null or an Exception is thrown during insert"
          },
          "408": {
            "description": "Too many pending logging requests or timeout"
          }
        },
        "deprecated": true,
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Logs/SubmitLogs": {
      "post": {
        "tags": [
          "Logs"
        ],
        "summary": "Inserts a collection of log entries, each in a specific JSON format.",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Write.\n\nRequired permissions: Logs.Create.\n\nExample of log entry:\r\n     {\r\n         \"message\": \"TTT execution started\",\r\n         \"level\": \"Information\",\r\n         \"timeStamp\": \"2017-01-18T14:46:07.4152893+02:00\",\r\n         \"windowsIdentity\": \"DESKTOP-1L50L0P\\\\WindowsUser\",\r\n         \"agentSessionId\": \"00000000-0000-0000-0000-000000000000\",\r\n         \"processName\": \"TTT\",\r\n         \"fileName\": \"Main\",\r\n         \"jobId\": \"8066c309-cef8-4b47-9163-b273fc14cc43\"\r\n     }",
        "operationId": "Logs_SubmitLogs",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Collection of string representations of JSON objects",
            "schema": {
              "description": "Collection of string representations of JSON objects",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully inserts the log entries"
          },
          "400": {
            "description": "logs is null or an Exception is thrown during insert"
          },
          "408": {
            "description": "Too many pending logging requests or timeout"
          }
        }
      }
    },
    "/api/Maintenance/End": {
      "post": {
        "tags": [
          "Maintenance"
        ],
        "summary": "Ends a maintenance window",
        "description": "OAuth required scopes: OR.Administration or OR.Administration.Write.\n\nHost only. Requires authentication.",
        "operationId": "Maintenance_End",
        "parameters": [
          {
            "in": "query",
            "name": "tenantId",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Maintenance/Get": {
      "get": {
        "tags": [
          "Maintenance"
        ],
        "summary": "Gets the host admin logs.",
        "description": "OAuth required scopes: OR.Administration or OR.Administration.Read.\n\nHost only. Required permissions: Audit.View.",
        "operationId": "Maintenance_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tenantId",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MaintenanceSetting"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Maintenance/Start": {
      "post": {
        "tags": [
          "Maintenance"
        ],
        "summary": "Starts a maintenance window",
        "description": "OAuth required scopes: OR.Administration or OR.Administration.Write.\n\nHost only. Requires authentication.",
        "operationId": "Maintenance_Start",
        "parameters": [
          {
            "in": "query",
            "name": "phase",
            "description": "Phase - UiPath.Orchestrator.DataContracts.MaintenanceState.Draining or UiPath.Orchestrator.DataContracts.MaintenanceState.Suspended",
            "type": "string",
            "enum": [
              "None",
              "Draining",
              "Suspended"
            ],
            "x-ms-enum": {
              "name": "MaintenanceState",
              "modelAsString": false
            },
            "x-enum-varnames": [
              "None",
              "Draining",
              "Suspended"
            ]
          },
          {
            "in": "query",
            "name": "force",
            "description": "Whether to ignore errors during transition",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "killJobs",
            "description": "Whether to force-kill running jobs when transitioning to UiPath.Orchestrator.DataContracts.MaintenanceState.Suspended",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "tenantId",
            "description": "If tenant id is set, maintenance will start only for this tenant",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/PackageFeeds/GetFolderFeed": {
      "get": {
        "tags": [
          "PackageFeeds"
        ],
        "summary": "Returns the feed id for a user assigned folder having specific feed",
        "description": "OAuth required scopes: OR.Execution or OR.Execution.Read.\n\nRequires authentication.",
        "operationId": "PackageFeeds_GetFolderFeed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "folderId",
            "description": "",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Releases/DeleteByKey": {
      "delete": {
        "tags": [
          "Releases"
        ],
        "description": "OAuth required scopes: OR.Execution or OR.Execution.Write.\n\nRequired permissions: (Processes.Delete).",
        "operationId": "Releases_DeleteByKey",
        "parameters": [
          {
            "in": "query",
            "name": "key",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Stats/GetConsumptionLicenseStats": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Gets the consumption licensing usage statistics",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: License.View.",
        "operationId": "Stats_GetConsumptionLicenseStats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tenantId",
            "description": "The Tenant's Id - can be used when authenticated as Host",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "days",
            "description": "Number of reported license usage days",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ConsumptionLicenseStatsModel"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Stats/GetCountStats": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Gets the total number of various entities registered in Orchestrator",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequires authentication.\n\nReturns the name and the total number of entities registered in Orchestrator for a set of entities.\r\nAll the counted entity types can be seen in the result below.\r\n     [\r\n           {\r\n             \"title\": \"Processes\",\r\n             \"count\": 1\r\n           },\r\n           {\r\n             \"title\": \"Assets\",\r\n             \"count\": 0\r\n           },\r\n           {\r\n             \"title\": \"Queues\",\r\n             \"count\": 0\r\n           },\r\n           {\r\n             \"title\": \"Schedules\",\r\n             \"count\": 0\r\n           }\r\n     ]",
        "operationId": "Stats_GetCountStats",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountStats"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Stats/GetJobsStats": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Gets the total number of jobs aggregated by Job State",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: Jobs.View.\n\nReturns the total number of Successful, Faulted and Canceled jobs respectively.\r\nExample of returned result:\r\n    [\r\n          {\r\n            \"title\": \"Successful\",\r\n            \"count\": 0\r\n          },\r\n          {\r\n            \"title\": \"Faulted\",\r\n            \"count\": 0\r\n          },\r\n          {\r\n            \"title\": \"Canceled\",\r\n            \"count\": 0\r\n          }\r\n    ]",
        "operationId": "Stats_GetJobsStats",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountStats"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Stats/GetLicenseStats": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Gets the licensing usage statistics",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: License.View.",
        "operationId": "Stats_GetLicenseStats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tenantId",
            "description": "The Tenant's Id - can be used when authenticated as Host",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "days",
            "description": "Number of reported license usage days",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LicenseStatsModel"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Stats/GetSessionsStats": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Gets the total number of robots aggregated by Robot State",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: Robots.View.\n\nReturns the total number of Available, Busy, Disconnected and Unresponsive robots respectively.\r\nExample of returned result:\r\n    [\r\n          {\r\n            \"title\": \"Available\",\r\n            \"count\": 1\r\n          },\r\n          {\r\n            \"title\": \"Busy\",\r\n            \"count\": 0\r\n          },\r\n          {\r\n            \"title\": \"Disconnected\",\r\n            \"count\": 1\r\n          },\r\n          {\r\n            \"title\": \"Unresponsive\",\r\n            \"count\": 0\r\n          }\r\n    ]",
        "operationId": "Stats_GetSessionsStats",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountStats"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Status/Get": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Returns whether the current endpoint should be serving traffic",
        "operationId": "Status_Get",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Status/VerifyHostAvailibility": {
      "get": {
        "tags": [
          "Status"
        ],
        "description": "Required permissions: Webhooks.Create or Webhooks.Edit.",
        "operationId": "Status_VerifyHostAvailibility",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "url",
            "type": "string",
            "format": "uri"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HostAvailabilityDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/CancelTestCaseExecution": {
      "post": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "Cancels the specified test case execution.",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Write.\n\nRequired permissions: TestSetExecutions.Edit.\n\nResponses:\r\n202 Accepted\r\n403 If the caller doesn't have permissions to cancel a test set execution",
        "operationId": "TestAutomation_CancelTestCaseExecution",
        "parameters": [
          {
            "in": "query",
            "name": "testCaseExecutionId",
            "description": "Id for the test case execution to be canceled",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "The test case execution was scheduled for cancellation or is not in a cancelable state"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/CancelTestSetExecution": {
      "post": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "Cancels the specified test set execution.",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Write.\n\nRequired permissions: TestSetExecutions.Edit.\n\nResponses:\r\n202 Accepted\r\n403 If the caller doesn't have permissions to cancel a test set execution",
        "operationId": "TestAutomation_CancelTestSetExecution",
        "parameters": [
          {
            "in": "query",
            "name": "testSetExecutionId",
            "description": "Id for the test set execution to be canceled",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "The test set execution was scheduled for cancellation or is not in a cancelable state"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/CreateTestSetForReleaseVersion": {
      "post": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "This will create a test set with source type API.This endpoint it is supposed to be used by API integration.",
        "description": "OAuth required scopes: OR.TestSets or OR.TestSets.Write.\n\nRequired permissions: TestSets.Create.\n\nResponses:\r\n201 Created returns test set Id\r\n403 If the caller doesn't have permissions to create a test set",
        "operationId": "TestAutomation_CreateTestSetForReleaseVersion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BuildTestSetRequestMessage"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "201": {
            "description": "Successful created test set.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/GetAssertionScreenshot": {
      "get": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "Get the screenshot for the specified test case assertion.",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Read.\n\nRequired permissions: TestSetExecutions.View.\n\nResponses:\r\n200 OK\r\n404 If the test case assertion is not found or the screenshot storage location is not found",
        "operationId": "TestAutomation_GetAssertionScreenshot",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "testCaseAssertionId",
            "description": "Id of the test case assertion",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "file",
              "type": "file"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/GetPackageInfoByTestCaseUniqueId": {
      "get": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "Get the package identifier and the latest version for the specified test case.",
        "description": "OAuth required scopes: OR.Execution or OR.Execution.Read.\n\nRequires authentication.\n\nResponses:\r\n200 OK\r\n403 If the caller doesn't have permissions to retrieve packages\r\n404 If there is no test case with the specified UniqueId",
        "operationId": "TestAutomation_GetPackageInfoByTestCaseUniqueId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "testCaseUniqueId",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "packageIdentifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Package info for the specified test case",
            "schema": {
              "$ref": "#/definitions/TestPackageInfoDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/GetReleasesForPackageVersion": {
      "get": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "This will list all the processes filtered by package identifier and version cross-folder when no current folder is sent by header.",
        "description": "OAuth required scopes: OR.Execution or OR.Execution.Read.\n\nRequired permissions: Processes.View.\n\nResponses:\r\n200 OK\r\n404 If there is no release for the specified package identifier",
        "operationId": "TestAutomation_GetReleasesForPackageVersion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "packageIdentifier",
            "description": "",
            "type": "string"
          },
          {
            "in": "query",
            "name": "version",
            "description": "",
            "type": "string"
          },
          {
            "in": "query",
            "name": "mandatoryPermissions",
            "description": "If in a cross-folder scenario, these represent the additional permissions\r\n            required in the folders the data is retrieved from; all permissions in this set must be met",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "query",
            "name": "atLeastOnePermissions",
            "description": "If in a cross-folder scenario, these represent the additional permissions\r\n            required in the folders the data is retrieved from; at least one permission in this set must be met",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "List of process versions",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestReleaseVersionDto"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/GetTestCaseExecutionAttachment": {
      "get": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "Get the attachment for the specified test case execution attachment.",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Read.\n\nRequired permissions: TestSetExecutions.View.\n\nResponses:\r\n200 OK\r\n404 If the test case execution attachment is not found or the storage location is not found",
        "operationId": "TestAutomation_GetTestCaseExecutionAttachment",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "testCaseExecutionAttachmentId",
            "description": "Id of the test case execution attachment",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "file",
              "type": "file"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/GetTestCaseExecutionAttachments": {
      "post": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "This will list all test case execution attachments filtered by identifier and tags",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Write.\n\nRequired permissions: TestSetExecutions.View.\n\nResponses:\r\n200 OK\r\n404 If there is no test case execution for the specified identifier",
        "operationId": "TestAutomation_GetTestCaseExecutionAttachments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/TestCaseExecutionAttachmentFilterDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseExecutionAttachmentDto"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/GetTestSetExecutionAttachment": {
      "get": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "Get the attachment for the specified test set execution attachment.",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Read.\n\nRequired permissions: TestSetExecutions.View.\n\nResponses:\r\n200 OK\r\n404 If the test set execution attachment is not found or the storage location is not found",
        "operationId": "TestAutomation_GetTestSetExecutionAttachment",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "testSetExecutionAttachmentId",
            "description": "Id of the test set execution attachment",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "file",
              "type": "file"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/GetTestSetExecutionAttachments": {
      "post": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "This will list all test set execution attachments filtered by identifier and tags",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Write.\n\nRequired permissions: TestSetExecutions.View.\n\nResponses:\r\n200 OK\r\n404 If there is no test set execution for the specified identifier",
        "operationId": "TestAutomation_GetTestSetExecutionAttachments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/TestSetExecutionAttachmentFilterDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestSetExecutionAttachmentDto"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/ReexecuteTestCases": {
      "post": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "Re-execute the specified test case executions within the same test set execution.",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Write.\n\nRequired permissions: TestSetExecutions.Create.\n\nResponses:\r\n200 OK\r\n403 If the caller doesn't have permissions to execute test sets\r\n404 If one or more test cases were not found",
        "operationId": "TestAutomation_ReexecuteTestCases",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "A list of test case executions with corresponding input arguments and optional RobotId and MachineSessionId fields",
            "schema": {
              "$ref": "#/definitions/ReexecuteTestCasesOptionsDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful re-execution of the test case executions",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TestCaseExecutionDto"
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/StartTestSetExecution": {
      "post": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "Start a test set execution.",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Write.\n\nRequired permissions: TestSetExecutions.Create.\n\nResponses:\r\n200 OK returns test set execution Id\r\n403 If the caller doesn't have permissions to execute a test set\r\n404 If the test set was not found",
        "operationId": "TestAutomation_StartTestSetExecution",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "testSetId",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "testSetKey",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "triggerType",
            "description": "Specifies how was the execution triggered",
            "type": "string",
            "default": "Manual",
            "enum": [
              "Manual",
              "Scheduled",
              "ExternalTool",
              "TestManager"
            ],
            "x-ms-enum": {
              "name": "ExecutionTriggerType",
              "modelAsString": false
            },
            "x-enum-varnames": [
              "Manual",
              "Scheduled",
              "ExternalTool",
              "TestManager"
            ]
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful start of test set execution",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestAutomation/StartTestSetExecutionWithOptions": {
      "post": {
        "tags": [
          "TestAutomation"
        ],
        "summary": "Start a test set execution with additional options.",
        "description": "OAuth required scopes: OR.TestSetExecutions or OR.TestSetExecutions.Write.\n\nRequired permissions: TestSetExecutions.Create.\n\nResponses:\r\n200 OK returns test set execution Id\r\n403 If the caller doesn't have permissions to execute a test set\r\n404 If the test set was not found",
        "operationId": "TestAutomation_StartTestSetExecutionWithOptions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Provides options to set the BatchExecutionKey and TriggerType and override the input parameters for specific test cases",
            "schema": {
              "$ref": "#/definitions/TestSetExecutionOptionsDto"
            }
          },
          {
            "in": "query",
            "name": "testSetId",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "testSetKey",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful start of test set execution",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestDataQueueActions/AddItem": {
      "post": {
        "tags": [
          "TestDataQueueActions"
        ],
        "summary": "Add a new test data queue item",
        "description": "OAuth required scopes: OR.TestDataQueues or OR.TestDataQueues.Write.\n\nRequired permissions: TestDataQueueItems.Create.\n\nResponses:\r\n201 Returns the added test data queue item\r\n403 If the caller doesn't have permissions to create test data queue items\r\n409 If the test data queue item content violates the content JSON schema set on the queue",
        "operationId": "TestDataQueueActions_AddItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "QueueName: the test data queue name; Content: the item content",
            "schema": {
              "$ref": "#/definitions/TestDataQueueAddItemDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the added test data queue item",
            "schema": {
              "$ref": "#/definitions/TestDataQueueItemDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestDataQueueActions/BulkAddItems": {
      "post": {
        "tags": [
          "TestDataQueueActions"
        ],
        "summary": "Bulk adds an array of data queue items",
        "description": "OAuth required scopes: OR.TestDataQueues or OR.TestDataQueues.Write.\n\nRequired permissions: TestDataQueueItems.Create.\n\nResponses:\r\n200 Returns the number of items added\r\n403 If the caller doesn't have permissions to create test data queue items\r\n409 If the test data queue items violates the content JSON schema set on the queue",
        "operationId": "TestDataQueueActions_BulkAddItems",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "QueueName: the test data queue name; Items: an array of item content",
            "schema": {
              "$ref": "#/definitions/TestDataQueueBulkAddItemsDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the number of items added",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestDataQueueActions/DeleteAllItems": {
      "delete": {
        "tags": [
          "TestDataQueueActions"
        ],
        "summary": "Delete all items from a test data queue",
        "description": "OAuth required scopes: OR.TestDataQueues or OR.TestDataQueues.Write.\n\nRequired permissions: TestDataQueueItems.Delete.\n\nResponses:\r\n202 All items from the test data queue were scheduled for deletion\r\n403 If the caller doesn't have permissions to delete test data queue items",
        "operationId": "TestDataQueueActions_DeleteAllItems",
        "parameters": [
          {
            "in": "query",
            "name": "queueName",
            "description": "The name of the test data queue",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "All items from the test data queue were scheduled for deletion"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestDataQueueActions/DeleteItems": {
      "delete": {
        "tags": [
          "TestDataQueueActions"
        ],
        "summary": "Delete specific test data queue items",
        "description": "OAuth required scopes: OR.TestDataQueues or OR.TestDataQueues.Write.\n\nRequired permissions: TestDataQueueItems.Delete.\n\nResponses:\r\n204 Deleted the test data queue items\r\n403 If the caller doesn't have permissions to delete test data queue items",
        "operationId": "TestDataQueueActions_DeleteItems",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The Ids of the test data queue items",
            "schema": {
              "description": "The Ids of the test data queue items",
              "type": "array",
              "items": {
                "format": "int64",
                "type": "integer"
              }
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted the test data queue items"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestDataQueueActions/GetNextItem": {
      "post": {
        "tags": [
          "TestDataQueueActions"
        ],
        "summary": "Get the next unconsumed test data queue item",
        "description": "OAuth required scopes: OR.TestDataQueues or OR.TestDataQueues.Write.\n\nRequired permissions: TestDataQueueItems.View.\n\nResponses:\r\n200 Returns the next unconsumed test data queue item\r\n204 If there are no unconsumed test data queue items in the queue\r\n403 If the caller doesn't have permissions to view test data queue items\r\n404 If the test data queue does not exist",
        "operationId": "TestDataQueueActions_GetNextItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "QueueName:the test data queue name; SetConsumed: Whether to set the item's IsConsumed flag as true or false",
            "schema": {
              "$ref": "#/definitions/TestDataQueueGetNextItemDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the next unconsumed test data queue item",
            "schema": {
              "$ref": "#/definitions/TestDataQueueItemDto"
            }
          },
          "204": {
            "description": "If there are no unconsumed test data queue items in the queue"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestDataQueueActions/SetAllItemsConsumed": {
      "post": {
        "tags": [
          "TestDataQueueActions"
        ],
        "summary": "Set the IsConsumed flag for all items from a test data queue",
        "description": "OAuth required scopes: OR.TestDataQueues or OR.TestDataQueues.Write.\n\nRequired permissions: TestDataQueueItems.Edit.\n\nResponses:\r\n202 All items from the test data queue were scheduled for setting the IsConsumed flag\r\n403 If the caller doesn't have permissions to edit test data queue items",
        "operationId": "TestDataQueueActions_SetAllItemsConsumed",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "QueueName: the name of the test data queue; IsConsumed: the value to be set on the items IsConsumed flag",
            "schema": {
              "$ref": "#/definitions/TestDataQueueSetAllItemsConsumedDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "202": {
            "description": "All items from the test data queue were scheduled for setting the IsConsumed flag"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/TestDataQueueActions/SetItemsConsumed": {
      "post": {
        "tags": [
          "TestDataQueueActions"
        ],
        "summary": "Set the IsConsumed flag for specific test data queue items",
        "description": "OAuth required scopes: OR.TestDataQueues or OR.TestDataQueues.Write.\n\nRequired permissions: TestDataQueueItems.Edit.\n\nResponses:\r\n200 If the operation succeeded\r\n403 If the caller doesn't have permissions to edit test data queue items",
        "operationId": "TestDataQueueActions_SetItemsConsumed",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "ItemIds: the list of item ids for which to set the IsConsumed flag; IsConsumed: the value to be set on the items IsConsumed flag",
            "schema": {
              "$ref": "#/definitions/TestDataQueueSetItemsConsumedDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "If the operation succeeded"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/Translations/GetTranslations": {
      "get": {
        "tags": [
          "Translations"
        ],
        "summary": "Returns a json with translation resources",
        "operationId": "Translations_GetTranslations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "lang",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/forms/TaskForms/BulkCompleteTasks": {
      "post": {
        "tags": [
          "TaskForms"
        ],
        "summary": "Bulk Complete the task by merging form data and action taken",
        "description": "OAuth required scopes: OR.Tasks or OR.Tasks.Write.\n\nRequired permissions: Tasks.Edit.",
        "operationId": "TaskForms_BulkCompleteTasks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "BulkTasksCompletionRequest",
            "schema": {
              "$ref": "#/definitions/BulkTasksCompletionRequest"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BulkOperationErrorResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/forms/TaskForms/BulkUpdateTasks": {
      "put": {
        "tags": [
          "TaskForms"
        ],
        "summary": "Bulk Update Task data by merging data.",
        "description": "OAuth required scopes: OR.Tasks or OR.Tasks.Write.\n\nRequired permissions: Tasks.Edit.",
        "operationId": "TaskForms_BulkUpdateTasks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "BulkTasksDataUpdateRequest",
            "schema": {
              "$ref": "#/definitions/BulkTasksDataUpdateRequest"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BulkOperationErrorResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/forms/TaskForms/CompleteTask": {
      "post": {
        "tags": [
          "TaskForms"
        ],
        "summary": "Complete the task by saving form data and action taken",
        "description": "OAuth required scopes: OR.Tasks or OR.Tasks.Write.\n\nRequired permissions: Tasks.Edit.",
        "operationId": "TaskForms_CompleteTask",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "TaskCompletionRequest",
            "schema": {
              "$ref": "#/definitions/TaskCompletionRequest"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/forms/TaskForms/CreateFormTask": {
      "post": {
        "tags": [
          "TaskForms"
        ],
        "summary": "Creates a new Form Task.",
        "description": "OAuth required scopes: OR.Tasks or OR.Tasks.Write.\n\nRequired permissions: Tasks.Create.",
        "operationId": "TaskForms_CreateFormTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The form task to be created.",
            "schema": {
              "$ref": "#/definitions/FormTaskCreateRequest"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TaskDataDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/forms/TaskForms/GetTaskDataById": {
      "get": {
        "tags": [
          "TaskForms"
        ],
        "summary": "Returns task data dto",
        "description": "OAuth required scopes: OR.Tasks or OR.Tasks.Read.\n\nRequired permissions: Tasks.View.",
        "operationId": "TaskForms_GetTaskDataById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "taskId",
            "description": "Task id",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskDataDto"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/forms/TaskForms/GetTaskFormById": {
      "get": {
        "tags": [
          "TaskForms"
        ],
        "summary": "Returns form dto to render task form",
        "description": "OAuth required scopes: OR.Tasks or OR.Tasks.Read.\n\nRequired permissions: Tasks.View.",
        "operationId": "TaskForms_GetTaskFormById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "taskId",
            "description": "Task id",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "expandOnFormLayout",
            "description": "",
            "type": "boolean",
            "default": false
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TaskFormDto"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/forms/TaskForms/SaveAndReassignTask": {
      "post": {
        "tags": [
          "TaskForms"
        ],
        "summary": "Save changes done by the current user and Reassign Task to another user",
        "description": "OAuth required scopes: OR.Tasks or OR.Tasks.Write.\n\nRequired permissions: Tasks.Edit.",
        "operationId": "TaskForms_SaveAndReassignTask",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "TaskSaveAndReassignmentRequest",
            "schema": {
              "$ref": "#/definitions/TaskSaveAndReassignmentRequest"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/forms/TaskForms/SaveTaskData": {
      "put": {
        "tags": [
          "TaskForms"
        ],
        "summary": "Save task data",
        "description": "OAuth required scopes: OR.Tasks or OR.Tasks.Write.\n\nRequired permissions: Tasks.Edit.",
        "operationId": "TaskForms_SaveTaskData",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "TaskDataSaveRequest",
            "schema": {
              "$ref": "#/definitions/TaskDataSaveRequest"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/odata/Alerts": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Gets alerts.",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: Alerts.View.\nDEPRECATED: \nPlease refer to https://docs.uipath.com/orchestrator/reference",
        "operationId": "Alerts_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Limits the properties returned in the result.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Indicates whether the total count of items within a collection are returned in the result.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfAlertDto"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/odata/Alerts/UiPath.Server.Configuration.OData.GetUnreadCount": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Returns the total number of alerts, per tenant, that haven't been read by the current user.",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Read.\n\nRequired permissions: Alerts.View.\nDEPRECATED: \nPlease refer to https://docs.uipath.com/orchestrator/reference",
        "operationId": "Alerts_GetUnreadCount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Limits the properties returned in the result.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ODataValueOfInt64"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/odata/Alerts/UiPath.Server.Configuration.OData.MarkAsRead": {
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Marks alerts as read and returns the remaining number of unread notifications.",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Write.\n\nRequired permissions: Alerts.View.\nDEPRECATED: \nPlease refer to https://docs.uipath.com/orchestrator/reference",
        "operationId": "Alerts_MarkAsRead",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/json-patch+json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Collection containing the unique identifiers of the notifications that will be marked as read",
            "schema": {
              "$ref": "#/definitions/AlertsMarkAsReadRequest"
            }
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Limits the properties returned in the result.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ODataValueOfInt64"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/odata/Alerts/UiPath.Server.Configuration.OData.RaiseProcessAlert": {
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Creates a Process Alert",
        "description": "OAuth required scopes: OR.Monitoring or OR.Monitoring.Write.\n\nRequired permissions: Alerts.Create.\nDEPRECATED: \nPlease refer to https://docs.uipath.com/orchestrator/reference",
        "operationId": "Alerts_RaiseProcessAlert",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/json-patch+json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RaiseProcessAlertRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": true,
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/odata/Assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Assets",
        "description": "OAuth required scopes: OR.Assets or OR.Assets.Read.\n\nRequired permissions: Assets.View.\nDEPRECATED: \nReplaced by GetFiltered.\nPlease refer to https://docs.uipath.com/orchestrator/reference",
        "operationId": "Assets_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Limits the properties returned in the result.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
            "description": "Specifies the order in which items are returned. The maximum number of expressions is 5.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Limits the number of items returned from a collection. The maximum value is 1000.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$skip",
            "description": "Excludes the specified number of items of the queried collection from the result.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "$count",
            "description": "Indicates whether the total count of items within a collection are returned in the result.",
            "type": "boolean"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ODataValueOfIEnumerableOfAssetDto"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Creates an asset",
        "description": "OAuth required scopes: OR.Assets or OR.Assets.Write.\n\nRequired permissions: Assets.Create.",
        "operationId": "Assets_Post",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/json-patch+json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created the asset",
            "schema": {
              "$ref": "#/definitions/AssetDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/odata/Assets({key})": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Gets a single asset based on its id",
        "description": "OAuth required scopes: OR.Assets or OR.Assets.Read.\n\nRequired permissions: Assets.View.",
        "operationId": "Assets_GetById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Limits the properties returned in the result.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssetDto"
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Edit an asset",
        "description": "OAuth required scopes: OR.Assets or OR.Assets.Write.\n\nRequired permissions: Assets.Edit.",
        "operationId": "Assets_PutById",
        "consumes": [
          "application/json;odata.metadata=minimal;odata.streaming=true",
          "application/json;odata.metadata=minimal;odata.streaming=false",
          "application/json;odata.metadata=minimal",
          "application/json;odata.metadata=full;odata.streaming=true",
          "application/json;odata.metadata=full;odata.streaming=false",
          "application/json;odata.metadata=full",
          "application/json;odata.metadata=none;odata.streaming=true",
          "application/json;odata.metadata=none;odata.streaming=false",
          "application/json;odata.metadata=none",
          "application/json;odata.streaming=true",
          "application/json;odata.streaming=false",
          "application/json",
          "application/json-patch+json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetDto"
            }
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete an asset",
        "description": "OAuth required scopes: OR.Assets or OR.Assets.Write.\n\nRequired permissions: Assets.Delete.",
        "operationId": "Assets_DeleteById",
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "header",
            "name": "X-UIPATH-OrganizationUnitId",
            "description": "Folder/OrganizationUnit Id",
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted the asset"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/odata/Assets/UiPath.Server.Configuration.OData.GetAssetsAcrossFolders": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get the assets from all the folders in which the current user has the Assets.View permission, except the one specified.",
        "description": "OAuth required scopes: OR.Assets or OR.Assets.Read.\n\nRequires authentication.",
        "operationId": "Assets_GetAssetsAcrossFolders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "excludeFolderId",
            "description": "",
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Indicates the related entities to be represented inline. The maximum depth is 2.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Restricts the set of items returned. The maximum number of expressions is 100.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Limits the properties returned in the result.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$orderby",
[...]
